/* Colors */
.blue-background {
    background-color: rgb(48, 65, 85);
}

.blue-foreground {
    color: rgb(48, 65, 85);
}

.dark-blue-background {
    background-color: rgb(13, 24, 37);
}

.dark-blue-foreground {
    color: rgb(13, 24, 37);
}

.dark-blue-outline {
    outline: 1px solid rgb(13, 24, 37);;
}

.bisque-background {
    background-color: #ddd;
}

.burned-bisque-transparent-background {
    background-color: rgba(209, 204, 197, 0.746);
}

.highlight-background {
    background-color: aquamarine;
}

.highlight-foreground {
    color: aquamarine;
}

.grey-background {
    background-color: rgb(20, 20, 20);
}

.grey-foreground {
    color: rgb(20, 20, 20);
}

.message-green-background {
    background-color: rgb(24, 65, 34)
}
/**/



/* structure */
.slight-padding {
    padding: 3px;
}

.slide-height-collapsed {
    transition: ease-in-out 0.1s all;
    height: 50px;
}

.slide-height-expanded {
    transition: ease-in-out 0.1s all;
    height: 100px;
}

.slide-padding-expanded {
    transition: ease-in-out 0.1s all;
    position: absolute;
    bottom: 106px;
}

.slide-padding-collapsed {
    transition: ease-in-out 0.1s all;
    position: absolute;
    bottom: 56px;
}
/**/



body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: aquamarine;
    font-style: bold;
}

h1 {
    font-size: 1.5rem;
    margin:0;
    text-align: center;
    font-weight: bold;
    height: 50px;
    min-height: 50px;
    line-height: 50px;
}

h2 {
    font-size: 1.3rem;
    background-color: aquamarine; 
    color: rgb(18, 36, 65);
    width: 100%;
    padding: 5px;
    margin:0;
    text-align: center;
    max-height: 10%;
    display: block;
    cursor: pointer;
}

h3 {
    font-size: 1.2rem;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#address {
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

#address-tooltip {
    font-size: 0.9rem;
    display: block;
    position: absolute;
    padding: 2px;
    bottom: 0;
    right: 0;
}

#chatWindow {
    width: 100%;
    height: 100%;
    display: block;
}

#contacts-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-box {
    width: 100%;
    height: 100px;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 100px;
}

.contact-box div {
    display: inline;
}

.clickable {
    cursor: pointer;
}

.emoji {
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    float: left;
    cursor: pointer;
    font-size: 1.5rem;
    transition: ease-in-out 0.1s all;
}

.emoji:hover {
    font-size: 2rem;
    transition: ease-in-out 0.1s all;
}

#emojiFrame {
    width: 100%;
    height: 20%;
    overflow-y: scroll;
    position: absolute;
    background-color: rgba(209, 204, 197, 0.746);
    z-index: 100;
}

#entryFrame {
    position: absolute;
    
    bottom: 0;
    background-color: #383838;
    left:0;
    right:0;
    display: inline-block;
}

#entryInput {
    min-height: 50px;
    width: 100%;
    min-width: 40vw;
    text-align: left;
    line-height: 1rem;
    overflow-y: scroll;
    word-wrap: break-word;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

#emojiToggle {
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: #fff
}

#load-frame {
    position:absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 101;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#172a3d+0,0d1825+100 */
    background: #172a3d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #172a3d 0%, #0d1825 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #172a3d 0%,#0d1825 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #172a3d 0%,#0d1825 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172a3d', endColorstr='#0d1825',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: Arial, Helvetica, sans-serif;
}

#loader {
    color: #ddd;
    height: 100vh;
    margin: 0;
    width: 100vw;
    line-height: 100vh;
    vertical-align: middle;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#pingField {
    height: 50px;
    width: 80px;
    line-height: 50px;
    width: 20vw;
    color:#ddd;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

#head {
    height: 50px;
    min-height: 50px;
    line-height: 50px;
}

.input-box {
    width: 100%;
    position: relative
}

.menuDots {
    width: 100%;
    text-align: right;
    cursor: pointer;
    line-height: 0.5rem;
    padding-bottom: 0 !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
}

.messageBox{
    color: #ddd;
    width: 50vw;
    margin: 5px;
    min-width: 400px;
    max-width: 800px;
    min-height: 2rem;
    height: auto;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 1px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 0 1px 5px 1px rgba(0,0,0,0.4);
    z-index: 100
}

.messageBox p {
    width: 100%;
    overflow-wrap: break-word;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.1rem;
    margin: 0
}

#messageFrame {
    background-color: #ddd;
    width: 100%;
    top: 80px;
    position: absolute;
    display: block;
    overflow-y: scroll;
    -webkit-box-shadow:inset 0 0 6px 0 rgba(0,0,0,0.6);
    box-shadow:inset 0 0 6px 0 rgba(0,0,0,0.6);
}

.msgMenu {
    position: absolute;
    z-index: 99;
    min-width: 20vw;
    max-width: 30vw;
    height: auto;
    background-color: #383838;
    color: #ddd;
    -webkit-border-radius: 2px 2px 2px 2px;
    border-radius: 2px 2px 2px 2px;
}

.navi {
    width: 100%;
    height: 30px;
    margin: 0;
    display: block;
    color:#ddd;
    background-color: #383838;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);
    z-index: 100;
    line-height: 30px;
}

.navi div {
    height: 100%;
}

.naviLabel {
    text-align: center;
    height: 30px;
    display: block;
    text-overflow: ellipsis;
}

.naviLabel p {
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap
}

#settings {
    position: absolute;
    bottom: 0;
    top: 50px;
    left: 0;
    right: 0;
}
#settings div {
    position: relative;
}

#settings-wrapper {
    overflow-y: scroll;
}

#settings-table {
    overflow-y: scroll;
}

.symbol {
    line-height: 30px;
    vertical-align: middle;
    font-size: 1rem;
    font-weight: bold;
    padding-left: 1rem;
    margin: 0;
}

.timeLabel {
    text-align: right;
    color: rgb(151, 151, 151);
    font-size: 0.8rem;
    width: 100%;
    padding: 2px;
    margin: 0;
}

.thread-box {
    width: 100%;
    cursor: pointer;
    background: rgb(51, 77, 148);
    color: #ddd;
    padding: 10px;
    height: 20vh;
    position: relative
}

.thumbnail {
    padding: 2px;
    width: 100%;
    height: auto;
    /* filter: blur(5px);
    -webkit-filter: blur(5px); */
    color: #ddd;
    vertical-align: middle;
    margin-top: -30%;
    opacity: 0.4;
    filter: 40;
    transition: ease-in-out 0.5s all;
}

.thumbnail:hover {
    opacity: 0.7;
    filter: 70;
    transition: ease-in-out 0.5s all;
}

.thumbnail-container {
    position: relative;
    text-align: center;
    color: #ddd;
    background-color: #383838;
    text-shadow: #000;
    max-height: 400px;
    overflow: hidden;
    text-overflow: none;
    width: 96%;
    height: 100%;
    display: block;
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
}

.thumbnail-text-centered {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px #000000;
    text-decoration: none;
    color: #ddd;
}

.unread {
    height: 2rem;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef5e47+0,ff794c+49,f44e24+100 */
    background: #ef5e47; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ef5e47 0%, #ff794c 49%, #f44e24 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #ef5e47 0%,#ff794c 49%,#f44e24 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #ef5e47 0%,#ff794c 49%,#f44e24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5e47', endColorstr='#f44e24',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    font-size: 1.2rem;
    color: #fff;
    text-shadow: 0 0 5px #000000;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}