body {
    background-color: rgb(18, 36, 65);
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    max-height: 5vh;
}

h1 {
    font-size: 1.5rem;
    margin:0;
    color: rgb(51, 77, 148);
    background-color: rgb(13, 24, 37);
    text-align: center;
    height: 100%;
    line-height: 5vh
}

h2 {
    font-size: 1.3rem;
    background-color: aquamarine; 
    color: rgb(18, 36, 65);
    width: 100%;
    padding: 5px;
    margin:0;
    text-align: center;
    max-height: 10%;
    display: block;
    cursor: pointer;
}

h3 {
    font-size: 1.2rem;
    width: 100%;
    color: rgb(51, 77, 148);
    padding: 5px;
    
    text-align: center;
}

#address {
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

#address-tooltip {
    font-size: 0.9rem;
    color: rgb(18, 36, 65);
    background: rgb(51, 77, 148);
    display: block;
    position: absolute;
    padding: 2px;
    bottom: 0;
    right: 0;
    
}
#chatNavi {
    width: 100%;
    height: 5vh;
    margin: 0;
    display: block;
    color:#ddd;
    background-color: #383838;
}
#chatWindow {
    width: 100%;
    height: 100%;
    display: block;
}

#contacts-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.contact-box {
    width: 100%;
    height: 10vh;
    display: block;
    color: aquamarine;
    background: rgb(51, 77, 148);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 10vh;
}

.clickable {
    cursor: pointer;
}

#entryFrame {
    background-color: #383838;;
    width: 100%;
    height: 20vh;
    display: block;
}

#entryInput {
    width: 80%;
    text-align: left;
    margin: 5px;
    line-height: 300%;
}

#head {
    height: 5vh;
    line-height: 5vh;
}

.input-box {
    width: 100%;
    position: relative
}

.messageBox{
    color: #ddd;
    width: 50vw;
    padding: 5px;
    min-width: 400px;
    max-width: 800px;
    min-height: 2rem;
    height: auto;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#messageFrame {
    background-color: #ddd;
    width: 100%;
    min-height: 70vh;
    max-height: 70vh;
    display: block;
    overflow-y: scroll;
}

.symbol {
    font-size: 1.5rem;
    margin: 0;
}

#toAddressLabel {
    text-align: center;
    height: 100%;
    display: block;
    text-overflow: ellipsis;
}

#toAddressLabel p {
    height: 5vh;
    line-height: 5vh;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap
}

.thread-box {
    width: 100%;
    cursor: pointer;
    background: rgb(51, 77, 148);
    color: #ddd;
    padding: 10px;
    height: 20vh;
    position: relative
}
